/* Responsive for medium devices  */
@media screen and (min-width: 576px) and (max-width: 768px){
    nav ul li {
        text-align: right;
    }
    
    #about {
        flex-direction: column-reverse;
    }
    .about-content {
        width: 70%;
    }
    
    #features-area {
        flex-wrap: wrap;
    }
    .feature-content h2 {
        width: 90%;
    }
    .feature-highlight {
        width: fit-content;
        bottom: -25px;
        left: -25px;
    }
    .feature-highlight h3{
        font-size: 1.5em;
    }
    .sponspors-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }
}

/* Responsive for small devices  */
@media screen and (max-width: 576px) {
    .header-content h1 {
        font-size: 2em;
    }
    p{
        font-size: .7em;
    }

    nav ul li{
        display: block;
        text-align: right;
    }

    #about {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    .about-imgs {
        grid-template-columns: repeat(1, 90%);
        justify-content: center;
    }
    .about-content {
        width: 80%;
    }

    #features-area {
        flex-direction: column;
    }
    .feature-content h2 {
        font-size: 2em;
        width: 90%;
    }
    .feature-content, .feature-banner{
        width: 90%;
    }
    .feature-banner {
        margin-bottom: 80px;
    }
    .feature-highlight {
        width: fit-content;
        bottom: -25px;
        left: -25px;
    }
    .feature-highlight h3{
        font-size: 1.5em;
    }
    
    #fact-achivement>p {
        width: 80%;
    }
    .achivement-cards {
        flex-direction: column;
        gap: 10px;
        align-items: center;
        margin-bottom: 40px;
    }
    .achivement-cards .card{
        width: 70%;

    }

    .sponspors-list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        margin: 40px 0;
    }
}